<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.reqcycle.ui.eattrpropseditor.definition">
      <eAttrPropsEditor
            class="org.eclipse.reqcycle.ui.eenumpropseditor.internal.EEnumPropsEditor"
            id="org.eclipse.reqcycle.ui.eenumpropseditor.EEnumPropsEditor"
            name="EEnum Properties Editor"
            type="org.eclipse.emf.ecore.EEnum">
      </eAttrPropsEditor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.reqcycle.ui.eenumpropseditor.internal.AdaptableEEnumLiteral"
            class="org.eclipse.reqcycle.ui.eenumpropseditor.internal.factory.EnumeratorAdapterFactory">
         <adapter
               type="org.eclipse.emf.common.util.Enumerator">
         </adapter>
      </factory>
   </extension>

</plugin>
