<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.traceability.builder.traceabilityAnalyser">
      <Analyser
            label="OCL Traceability analyzer"
            visitor="org.polarsys.reqcycle.ocl.traceability.visitor.OCLTraceabilityVisitor">
      </Analyser>
   </extension>

</plugin>
