<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ReqCycle Traceability"
            id="org.eclipse.reqcycle.traceability.ui">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.reqcycle.traceability.ui"
            class="org.eclipse.reqcycle.traceability.ui.views.TraceabilityViewer"
            icon="icons/path.gif"
            id="org.eclipse.reqcycle.traceability.ui.views.TraceabilityViewer"
            name="TraceabilityViewer">
      </view>
      <!--<view
            class="org.eclipse.reqcycle.traceability.ui.views.TraceabilityViewer"
            id="org.eclipse.reqcycle.traceability.ui.views.TraceabilityViewer"
            name="Traceability">
      </view>-->
   </extension>

</plugin>
