<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated DataTypeModel -->
      <factory
            uri="http://www.eclipse.org/ReqCycle/DataTypeModel"
            class="DataTypeModel.provider.DataTypeModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.reqcycle.types.types">
      <type
            checker="org.eclipse.reqcycle.repository.data.type.edit.types.ReqcycleTypeChecker"
            icon="icons/open.png"
            id="org.eclipse.reqcycle.repository.data.type.types"
            label="RequirementType">
      </type>
   </extension>
   
</plugin>
