<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.ui.eattrpropseditor.definition">
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.DoublePropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.NumberPropsEditor"
            name="Number Properties Editor"
            type="java.lang.Number">
      </eAttrPropsEditor>
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.DoublePropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.DoublePropsEditor"
            name="Double Properties Editor"
            type="java.lang.Double">
      </eAttrPropsEditor>
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.FloatPropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.FloatPropsEditor"
            name="Float Properties Editor"
            type="java.lang.Float">
      </eAttrPropsEditor>
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.LongPropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.LongPropsEditor"
            name="Long Properties Editor"
            type="java.lang.Long">
      </eAttrPropsEditor>
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.IntegerPropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.IntegerPropsEditor"
            name="Integer Properties Editor"
            type="java.lang.Integer">
      </eAttrPropsEditor>
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.BigIntegerPropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.BigIntegerPropsEditor"
            name="BigInteger Properties Editor"
            type="java.math.BigInteger">
      </eAttrPropsEditor>
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.numberspropseditor.internal.BigDecimalPropsEditor"
            id="org.polarsys.reqcycle.ui.numberspropseditor.BigDecimalPropsEditor"
            name="BigDecimal Props Editor"
            type="java.math.BigDecimal">
      </eAttrPropsEditor>
   </extension>

</plugin>
