<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.ui.eattrpropseditor.definition">
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.collectionspropseditor.internal.CollectionPropsEditor"
            id="org.polarsys.reqcycle.ui.collectionspropseditor.eAttrPropsEditor3"
            name="Collections Properties Editor"
            type="java.util.Collection">
      </eAttrPropsEditor>
   </extension>

</plugin>
