<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ziggurat.inject.binding">
      <binding
            impl="org.eclipse.reqcycle.core.impl.Logger"
            interface="org.eclipse.reqcycle.core.ILogger">
      </binding>
   </extension>
</plugin>
