<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.repository.connector.connectorCore">
      <connectorCore
            class="org.polarsys.reqcycle.ocl.ui.OCLConnector"
            id="org.polarsys.reqcycle.ocl.ui.OCLConnector"
            name="OCL Connector">
      </connectorCore>
   </extension>

</plugin>
