<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="traceabilityAnalyser" name="Traceability Analyser" schema="schema/traceabilityAnalyser.exsd"/>
   <extension
         point="org.agesys.inject.binding">
      <binding
            impl="org.eclipse.reqcycle.traceability.builder.impl.TraceabilityBuilder"
            interface="org.eclipse.reqcycle.traceability.builder.ITraceabilityBuilder"
            priority="100">
      </binding>
   </extension>
   <extension
         id="org.eclipse.reqcycle.traceability.builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="org.eclipse.reqcycle.traceability.builder.TraceabilityIncrementalProjectBuilder">
         </run>
      </builder>
   </extension>

</plugin>
