<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.reqcycle"
            class="org.eclipse.reqcycle.repository.ui.views.RequirementSourcesView"
            icon="icons/repositories.gif"
            id="org.eclipse.reqcycle.repository.ui.views.sources"
            name="%view.name">
      </view>
      <category
            id="org.eclipse.reqcycle"
            name="%category.name">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.reqcycle"
            class="org.eclipse.reqcycle.repository.ui.views.RequirementView"
            icon="icons/open.png"
            id="org.eclipse.reqcycle.repository.ui.views.requirements"
            name="Requirements"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.reqcycle"
            class="org.eclipse.reqcycle.repository.ui.views.RequirementScopeView"
            icon="icons/open.png"
            id="org.eclipse.reqcycle.repository.ui.views.requirement.scope"
            name="Requirement Scope"
            restorable="true">
      </view>
   </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           class="org.eclipse.reqcycle.repository.ui.wizard.NewRequirementSourceWizard"
           id="org.eclipse.reqcycle.repository.ui.wizard1org.eclipse.reqcycle.repository.NewRequirementSource"
           name="Create New Requirement Source">
     </wizard>
  </extension>
</plugin>
