<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.reqcycle"
            class="org.eclipse.reqcycle.repository.ui.views.RequirementSourcesView"
            icon="icons/repositories.gif"
            id="org.eclipse.reqcycle.repository.ui.views.sources"
            name="%view.name">
      </view>
      <category
            id="org.eclipse.reqcycle"
            name="%category.name">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.reqcycle"
            class="org.eclipse.reqcycle.repository.ui.views.RequirementView"
            icon="icons/open.png"
            id="org.eclipse.reqcycle.repository.ui.views.requirements"
            name="Requirements"
            restorable="true">
      </view>
      <view
            category="org.eclipse.reqcycle"
            class="org.eclipse.reqcycle.repository.ui.views.ScopeView"
            icon="icons/open.png"
            id="org.eclipse.reqcycle.repository.ui.views.requirement.scope"
            name="Scope"
            restorable="true">
      </view>
   </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           class="org.eclipse.reqcycle.repository.ui.wizard.NewRequirementSourceWizard"
           id="org.eclipse.reqcycle.repository.ui.wizard1org.eclipse.reqcycle.repository.NewRequirementSource"
           name="Create New Requirement Source">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.reqcycle.core.ui.category"
           id="org.eclipse.reqcycle.repository.ui.commands.newPredicateCommand"
           name="New Predicate">
     </command>
     <command
           categoryId="org.eclipse.reqcycle.core.ui.category"
           id="org.eclipse.reqcycle.repository.ui.commands.editPredicateCommand"
           name="Edit Predicate">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.reqcycle.repository.ui.handlers.NewPredicateHandler"
           commandId="org.eclipse.reqcycle.repository.ui.commands.newPredicateCommand">
     </handler>
     <handler
           class="org.eclipse.reqcycle.repository.ui.handlers.EditPredicateHandler"
           commandId="org.eclipse.reqcycle.repository.ui.commands.editPredicateCommand">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.reqcycle.core.ui.menu">
        <command
              commandId="org.eclipse.reqcycle.repository.ui.commands.newPredicateCommand"
              id="org.eclipse.reqcycle.repository.ui.menus.newPredicateCommand"
              mnemonic="S">
        </command>
        <command
              commandId="org.eclipse.reqcycle.repository.ui.commands.editPredicateCommand"
              id="org.eclipse.reqcycle.repository.ui.menus.editPredicateCommand"
              mnemonic="S">
        </command>
     </menuContribution>
  </extension>
</plugin>
