<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.reqcycle.traceability.table.view.TraceabilityTableView"
            id="org.eclipse.reqcycle.traceability.table.partdescriptor.traceability.table"
            name="Traceability Table"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.reqcycle.traceability.table.handlers.DeleteLinkHandler"
            id="org.eclipse.reqcycle.traceability.table.deleteLinkCommand"
            name="Delete Link Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.reqcycle.traceability.table.partdescriptor.traceability.table?after=additions">
         <command
               commandId="org.eclipse.reqcycle.traceability.table.deleteLinkCommand"
               label="Delete link"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.reqcycle.traceability.table.handlers.DeleteLinkHandler"
            commandId="org.eclipse.reqcycle.traceability.table.deleteLinkCommand">
      </handler>
   </extension>

</plugin>
