<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.reqycle.core.ui.pref.reqcycle"
          class="org.eclipse.reqcycle.repository.data.ui.preference.TypesPreferencePage"
          id="org.eclipse.reqcycle.repository.data.ui.typesPreferencePage"
          name="Requirement Types">
    </page>
    <page
          category="org.eclipse.reqycle.core.ui.pref.reqcycle"
          class="org.eclipse.reqcycle.repository.data.ui.preference.ScopesPreferencePage"
          id="org.eclipse.reqcycle.repository.data.ui.scopesPreferencePage"
          name="Scopes">
    </page>
 </extension>
</plugin>
