<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.reqcycle.repository.data.ui.dataModelPreferencePage"
          class="org.eclipse.reqcycle.repository.data.ui.preference.pages.DataTypesPreferencePage"
          id="org.eclipse.reqcycle.repository.data.ui.typesPreferencePage"
          name="Requirement Types Preferences">
    </page>
    <page
          category="org.eclipse.reqcycle.repository.data.ui.dataModelPreferencePage"
          class="org.eclipse.reqcycle.repository.data.ui.preference.pages.ScopesPreferencePage"
          id="org.eclipse.reqcycle.repository.data.ui.scopesPreferencePage"
          name="Scopes Preferences">
    </page>
    <page
          category="org.eclipse.reqycle.core.ui.pref.reqcycle"
          class="org.eclipse.reqcycle.repository.data.ui.preference.pages.DataModelsPreferencePage"
          id="org.eclipse.reqcycle.repository.data.ui.dataModelPreferencePage"
          name="Data Models Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.ziggurat.inject.binding">
    <binding
          impl="org.eclipse.reqcycle.repository.data.ui.DataModelUiManager"
          interface="org.eclipse.reqcycle.repository.data.ui.IDataModelUiManager">
    </binding>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.eclipse.reqcycle.repository.data.ui.handlers.InitCustomDataHandler"
          commandId="org.eclipse.reqcycle.repository.data.ui.commands.initCustomData">
       <enabledWhen>
          <equals
                value="false">
          </equals>
       </enabledWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.reqcycle.core.ui.menu">
       <command
             commandId="org.eclipse.reqcycle.repository.data.ui.commands.initCustomData"
             id="org.eclipse.reqcycle.repository.data.ui.menus.initCustomData"
             mnemonic="S">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.reqcycle.core.ui.category"
          id="org.eclipse.reqcycle.repository.data.ui.commands.initCustomData"
          name="Load Custom Data Model">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.importWizards">
    <wizard
          class="org.eclipse.reqcycle.repository.data.ui.wizard.ImportDataModel"
          id="org.eclipse.reqcycle.repository.data.ui.import.datamodel"
          name="Import Data Model">
    </wizard>
 </extension>
</plugin>
