<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="typeEntry" name="Type Entry" schema="schema/typeEntry.exsd"/>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.org.eclipse.reqcycle/typeconfiguration/1.0"
            class="org.eclipse.reqcycle.traceability.types.configuration.typeconfiguration.provider.TypeconfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.reqycle.core.ui.pref.reqcycle"
            class="org.eclipse.reqcycle.traceability.types.configuration.preferences.ElementTypeConfigurationPage"
            id="org.eclipse.reqcycle.traceability.types.ui.elementtype"
            name="Reachable Data">
      </page>
      <page
            category="org.eclipse.reqcycle.traceability.types.ui.traceabilityPage"
            class="org.eclipse.reqcycle.traceability.types.configuration.preferences.TraceabilityTypePreferencePage"
            id="org.eclipse.reqcycle.traceability.types.ui.tracatype"
            name="Traceability Types">
      </page>
      <page
            category="org.eclipse.reqycle.core.ui.pref.reqcycle"
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="org.eclipse.reqcycle.traceability.types.ui.traceabilityPage"
            name="Traceability">
      </page>
      <page
            category="org.eclipse.reqcycle.traceability.types.ui.tracatype"
            class="org.eclipse.reqcycle.traceability.types.configuration.preferences.TTypeDecorationPreferencePage"
            id="org.eclipse.reqcycle.traceability.types.ui.tracatype.decoration"
            name="Label decoration">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.reqcycle.core.ui.menu?after=additions">
         <command
               commandId="org.eclipse.reqcycle.traceability.types.ui.predicateEditor"
               label="Predicate Editor for Traceability Relation"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.reqcycle.traceability.types.ui.predicateEditor"
            name="Predicate Editor for Traceability Relation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.reqcycle.traceability.types.configuration.predicates.PredicateEditorForTraceabilityHandler"
            commandId="org.eclipse.reqcycle.traceability.types.ui.predicateEditor">
            <!--<enabledWhen>
          <equals
                value="true">
          </equals>
       </enabledWhen>-->
      </handler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="reqcyclet:/dynamicPackage"
            uri="http://www.reqcycle.org/relations/attributes">
      </resource>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.reqcycle.traceability.types.configuration.predicates.ReqCycleTraceabilitySchemeFactory"
            protocolName="reqcyclet">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ziggurat.inject.binding">
      <binding
            impl="org.eclipse.reqcycle.traceability.types.ui.impl.StylePredicateProvider"
            interface="org.eclipse.reqcycle.traceability.types.ui.IStylePredicateProvider">
      </binding>
   </extension>
   <extension
         point="org.eclipse.reqcycle.traceability.types.ui.typeEntry">
      <type
            class="java.lang.String"
            entry="org.eclipse.reqcycle.traceability.types.ui.StringFieldEntry">
      </type>
   </extension>

</plugin>
