<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.reqcycle.ui.eattrpropseditor.definition">
      <eAttrPropsEditor
            class="org.eclipse.reqcycle.ui.enumpropseditor.internal.EnumPropsEditor"
            id="org.eclipse.reqcycle.ui.enumpropseditor.EnumPropetiesEditor"
            name="Enum Properties Editor"
            type="java.lang.Enum">
      </eAttrPropsEditor>
   </extension>

</plugin>
