<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.ui.eattrpropseditor.definition">
      <eAttrPropsEditor
            class="org.polarsys.reqcycle.ui.patternpropseditor.internal.PatternPropsEditor"
            id="org.polarsys.reqcycle.ui.patternpropseditor.PatternPropsEditor"
            name="Pattern Properties Editor"
            type="java.util.regex.Pattern">
      </eAttrPropsEditor>
   </extension>

</plugin>
