<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="connectorCore" name="Connector Core" schema="schema/connectorCore.exsd"/>n
   <extension
      point="org.agesys.inject.binding">
   <binding
         impl="org.eclipse.reqcycle.repository.connector.impl.ConnectorManager"
         interface="org.eclipse.reqcycle.repository.connector.IConnectorManager">
   </binding>
</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MappingModel -->
      <package
            uri="http://www.eclipse.org/ReqCycle/MappingModel"
            class="MappingModel.MappingModelPackage"
            genModel="model/MappingModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RequirementSourcesConf -->
      <package
            uri="http://www.eclipse.org/ReqCycle/RequirementSourcesConf"
            class="RequirementSourcesConf.RequirementSourcesConfPackage"
            genModel="model/RequirementSourcesConf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RequirementSourcesConf -->
      <parser
            type="requirementsourcesconf"
            class="RequirementSourcesConf.util.RequirementSourcesConfResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ScopesConf -->
      <package
            uri="http://www.eclipse.org/ReqCycle/ScopesConf"
            class="ScopesConf.ScopesConfPackage"
            genModel="model/ScopesConf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ScopesConf -->
      <parser
            type="scopesconf"
            class="ScopesConf.util.ScopesConfResourceFactoryImpl"/>
   </extension>

</plugin>
