<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.reqcycle.uri.reachableHandler">
      <objectHandler
            handler="org.eclipse.reqcycle.emf.uml.handlers.UMLReachableHandler"
            priority="10"></objectHandler>
      <reachableHandler
            handler="org.eclipse.reqcycle.emf.uml.handlers.UMLReachableHandler"
            priority="10">
      </reachableHandler>
   </extension>

</plugin>
