<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.reqcycle.repository.connector.connectorCore">
      <connectorCore
            class="org.eclipse.reqcycle.repository.connector.rmf.RMFConnector"
            id="org.eclipse.reqcycle.repository.connector.rmf.connectorCore"
            name="ReqIf">
      </connectorCore>
   </extension>
   <extension
         point="org.eclipse.reqcycle.repository.connector.ui.connectorUi">
      <connectorUi
            class="org.eclipse.reqcycle.repository.connector.rmf.RMFConnectorUi"
            icon="icons/RMF.png"
            id="org.eclipse.reqcycle.repository.connector.rmf.connectorCore">
      </connectorUi>
   </extension>
</plugin>
