<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="connectorCore" name="Connector Core" schema="schema/connectorCore.exsd"/>n
   <extension
      point="org.eclipse.ziggurat.inject.binding">
   <binding
         impl="org.eclipse.reqcycle.repository.connector.impl.ConnectorManager"
         interface="org.eclipse.reqcycle.repository.connector.IConnectorManager">
   </binding>
</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MappingModel -->
      <package
            uri="http://www.eclipse.org/ReqCycle/MappingModel"
            class="MappingModel.MappingModelPackage"
            genModel="model/MappingModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RequirementSourceConf -->
      <package
            uri="http://www.eclipse.org/ReqCycle/RequirementSourceConf"
            class="RequirementSourceConf.RequirementSourceConfPackage"
            genModel="model/RequirementSourceConf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RequirementSourceConf -->
      <parser
            type="data"
            class="RequirementSourceConf.util.RequirementSourceConfResourceFactoryImpl"/>
   </extension>

</plugin>
