<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.polarsys.reqcycle.traceability.builder.addNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.polarsys.reqcycle.traceability.builder.ui.handlers.AddBuilderAction"
               id="org.polarsys.reqcycle.traceability.builder.ui.action1"
               label="Add Traceability Builder"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
      </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.reqcycle.traceability.types.ui.traceabilityPage"
            class="org.polarsys.reqcycle.traceability.builder.ui.preferences.TraceabilityBuildersPreferencePage"
            id="org.polarsys.reqcycle.traceability.types.ui.tracabuilders"
            name="Projects to analyse">
      </page>
      <page
            category="org.polarsys.reqcycle.traceability.types.ui.traceabilityPage"
            class="org.polarsys.reqcycle.traceability.builder.ui.preferences.AnalysersPreferencePage"
            id="org.polarsys.reqcycle.traceability.types.ui.tracabuilders"
            name="Analysers">
      </page>
   </extension>
   <extension
         point="org.polarsys.reqcycle.utils.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.traceability.builder.ui.preferences.PreferenceBasedTraceabilityDisabler"
            interface="org.polarsys.reqcycle.traceability.builder.ITraceabilityAnalyserDisabler">
      </binding>
   </extension>
	
</plugin>
