<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="connectorUi" name="Connector UI" schema="schema/connectorUi.exsd"/>
   <extension
         point="org.agesys.inject.binding">
      <binding
            impl="org.eclipse.reqcycle.repository.connector.ui.impl.ConnectorManagerUiImpl"
            interface="org.eclipse.reqcycle.repository.connector.ui.IConnectorManagerUi">
      </binding>
   </extension>
</plugin>
