<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataModel -->
      <package
            uri="http://www.eclipse.org/ReqCycle/DataModel"
            class="DataModel.DataModelPackage"
            genModel="model/DataModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated DataModel -->
      <factory
            uri="http://www.eclipse.org/ReqCycle/DataModel"
            class="DataModel.provider.DataModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RequirementSourcesConf -->
      <package
            uri="http://www.eclipse.org/ReqCycle/RequirementSourcesConf"
            class="RequirementSourcesConf.RequirementSourcesConfPackage"
            genModel="model/RequirementSourcesConf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RequirementSourcesConf -->
      <parser
            type="requirementsourcesconf"
            class="RequirementSourcesConf.util.RequirementSourcesConfResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MappingModel -->
      <package
            uri="http://www.eclipse.org/ReqCycle/MappingModel"
            class="MappingModel.MappingModelPackage"
            genModel="model/MappingModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated MappingModel -->
      <factory
            uri="http://www.eclipse.org/ReqCycle/MappingModel"
            class="MappingModel.provider.MappingModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.ziggurat.inject.binding">
      <binding
            impl="org.eclipse.reqcycle.repository.data.impl.DataManagerImpl"
            interface="org.eclipse.reqcycle.repository.data.IDataManager">
      </binding>
      <binding
            impl="org.eclipse.reqcycle.repository.data.impl.DataModelManagerImpl"
            interface="org.eclipse.reqcycle.repository.data.IDataModelManager">
      </binding>
      <binding
            impl="org.eclipse.reqcycle.repository.data.impl.ConfResourceSet"
            interface="org.eclipse.emf.ecore.resource.ResourceSet"
            name="confResourceSet"
            priority="20">
      </binding>
   </extension>
   <extension
         point="org.eclipse.reqcycle.types.types">
      <type
            checker="org.eclipse.reqcycle.repository.data.types.ReqcycleTypeChecker"
            icon="icons/CurrentRequirement.gif"
            id="org.eclipse.reqcycle.repository.data.type1"
            label="Requirement">
      </type>
   </extension>
   <extension
         point="org.eclipse.reqcycle.uri.reachableHandler">
      <objectHandler
            handler="org.eclipse.reqcycle.repository.data.reachables.ConfReachableHandler"
            priority="10">
      </objectHandler>
      <reachableHandler
            handler="org.eclipse.reqcycle.repository.data.reachables.ConfReachableHandler"
            priority="10">
      </reachableHandler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.eclipse.reqcycle.repository.data.ImportDataModel"
            id="org.eclipse.reqcycle.repository.data.types.import"
            name="Import Data Model">
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RequirementSourceData -->
      <package
            uri="http://www.eclipse.org/ReqCycle/RequirementSourceData"
            class="RequirementSourceData.RequirementSourceDataPackage"
            genModel="model/RequirementSourceData.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated RequirementSourceData -->
      <factory
            uri="http://www.eclipse.org/ReqCycle/RequirementSourceData"
            class="RequirementSourceData.provider.RequirementSourceDataItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
</plugin>
