<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ReqCycle Traceability"
            id="org.polarsys.reqcycle.traceability.ui">
      </category>
      <view
            allowMultiple="false"
            category="org.polarsys.reqcycle.traceability.ui"
            class="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            icon="icons/path.gif"
            id="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            name="TraceabilityViewer">
      </view>
      <!--<view
            class="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            id="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            name="Traceability">
      </view>-->
   </extension>
   <extension
         point="org.eclipse.ziggurat.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.traceability.ui.services.impl.LocateService"
            interface="org.polarsys.reqcycle.traceability.ui.services.ILocateService">
      </binding>
   </extension>

</plugin>
