<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated predicates -->
      <package
            uri="http://www.eclipse.org/reqcycle/predicates/1.0"
            class="org.eclipse.reqcycle.predicates.core.PredicatesPackage"
            genModel="model/predicates.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated predicates -->
      <parser
            type="predicates"
            class="org.eclipse.reqcycle.predicates.core.util.PredicatesResourceFactoryImpl"/>
   </extension>


</plugin>
