<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.reqcycle.traceability.cache.emfbased.model.CacheTracability.util.CacheTracabilityResourceFactoryImpl"
            type="ctr">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.reqcycle.traceability.cache.emfbased.model.CacheTracability.CacheTracabilityPackage"
            genModel="model/tracability.genmodel"
            uri="http://www.eclipse.org/tracability/1.0">
      </package>
   </extension>
    <extension
         point="org.agesys.inject.binding">
      <binding
            impl="org.eclipse.reqcycle.traceability.cache.emfbased.CacheTraceabilityEngine"
            interface="org.eclipse.reqcycle.traceability.engine.ITraceabilityEngine"
            priority="10">
      </binding>
   </extension>
</plugin>
