<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.uri.reachableHandler">
      <reachableHandler
            handler="org.polarsys.reqcycle.emf.handlers.EMFURIHandler">
      </reachableHandler>
      <objectHandler
            handler="org.polarsys.reqcycle.emf.handlers.EMFURIHandler">
      </objectHandler>
   </extension>
   <extension
         point="org.polarsys.reqcycle.uri.reachableExtender">
      <Extender
            instance="org.polarsys.reqcycle.emf.ui.EMFEditExtender">
      </Extender>
   </extension>
   <extension
         point="org.polarsys.reqcycle.types.types">
      <type
            checker="org.polarsys.reqcycle.emf.types.EMFTypeChecker"
            icon="icons/ModelFile.gif"
            id="org.polarsys.reqcycle.emf.type"
            label="Model Element"
            >
      </type>
   </extension>
   <extension
         point="org.polarsys.reqcycle.utils.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.emf.handlers.EMFURIHandler"
            interface="org.polarsys.reqcycle.uri.model.IObjectHandler"
            priority="0">
      </binding>
   </extension>
</plugin>
