<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.reqcycle.traceability.builder.traceabilityAnalyser">
      <Analyser
            visitor="org.eclipse.reqcycle.jdt.traceability.JDTTraceabilityVisitor">
      </Analyser>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.reqycle.core.ui.pref.reqcycle"
            class="org.eclipse.reqcycle.jdt.traceability.preferences.JDTAnnotationPreferencePage"
            id="org.eclipse.reqcycle.jdt.traceability.annotation"
            name="Java Annotations">
      </page>
   </extension>
   <extension
         point="org.eclipse.reqcycle.traceability.types.ttypes">
      <ttype
            provider="org.eclipse.reqcycle.jdt.traceability.types.JDTTTypeProvider">
      </ttype>
   </extension>

</plugin>
