<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.polarsys.reqcycle.utils.configuration.impl.EMFConfResourceFactory"
            type="emfconf">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ziggurat.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.utils.configuration.impl.ConfigurationManagerImpl"
            interface="org.polarsys.reqcycle.utils.configuration.IConfigurationManager"
            priority="0">
      </binding>
   </extension>

</plugin>
